<template>
  <ul v-if="props && props.last_page > 1">
    <li v-show="props.current_page > 1">
      <button @click="click(props.current_page - 1)">prev</button>
    </li>
    <li v-for="pageNum in props.last_page" :key="pageNum">
      <button @click="click(pageNum)">{{pageNum}}</button>
    </li>
    <li v-show="props.current_page < props.last_page">
      <button @click="click(props.current_page + 1)">next</button>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'pagination',
  props: ['props'],
  methods: {
    click(pageNum) {
      if(pageNum !== this.props.current_page) this.$emit('paginationClick', pageNum);
    }
  }
}
</script>

<style>

</style>


