<template>
	<div class="site">
		<form @submit.prevent="createPage" v-if="isExistPermissionToCreatePage">
			<input type="text" placeholder="название страницы" v-model="newPage.name">
			<input type="text" placeholder="dns prefix" v-model="newPage.prefix">
			<button>Добавить страницу</button>
		</form>		
		<div class="pages">
			Pages:
			<div v-for="page in pages" :key="page.id">
				<router-link class="page" :to="`/page/${page.id}`">{{page.title}}</router-link>
				<button @click="deletePage(page.id)" v-if="isExistPermissionToDeletePage">Удалить страницу</button>
			</div>
		</div>
		<pagination :props="pagination" @paginationClick="changePageNumber(arguments[0])"/>
	</div>
</template>

<script>
import axios from 'axios';

import Pagination from './Pagination'

export default {
	name: 'pages',
  data() {
		return {
			newPage: {
				name: '',
				prefix: ''
			},
			pages: [],
			pagination: undefined
		}
	},
	created() {
		this.getData();
	},
	computed: {
		isExistPermissionToDeletePage() {
			return this.$store.state.permissions.all || this.$store.state.permissions["remove-page"];
		},
		isExistPermissionToCreatePage() {
			return this.$store.state.permissions.all || this.$store.state.permissions["create-page"];
		}
	},
	methods: {
		createPage() {
			axios
				.get(`/api/brunhilda/sites/${this.$route.params.id}/pages/create?prefix=${this.newPage.prefix}&title=${this.newPage.name}`, {
					params: {
						token: this.$store.state.token,
						page: this.pagination.current_page
					}
				})
				.then(({data}) => {
					this.pages = data.pages;
					this.pagination = data.paginate;
				});			
		},
		deletePage(pageId) {
			let page = this.pagination.total === 1 && this.pagination.current_page !== 1
				? this.pagination.current_page - 1
				: 1;
			axios
				.post('/api/brunhilda/pages', {
					action: 'remove',
					token: this.$store.state.token,
					page_id: pageId,
					page
				})
				.then(({data}) => {
					this.pages = data.pages;
					this.pagination = data.paginate;
				});		
		},
		changePageNumber(pageNum) {
				this.getData(pageNum);
		},
		getData(pageNum) {
			axios
				.get(`/api/brunhilda/sites/${this.$route.params.id}/pages`, {
					params: {
						token: this.$store.state.token,
						page: pageNum || 1
					}
				})
				.then(({data}) => {
					this.pages = data.pages;
					this.pagination = data.paginate;

					this.$store.commit('setSiteId', this.$route.params.id);
					this.$store.commit('setPermissions', data.permissions);
				})
				.catch(err => this.$router.push('/sites'));
		}
	},
	components: {
		Pagination
	}
}
</script>


