<template>
  <div>
		<input type="text" v-model="siteName">
		<div class="sites">
			<div class="site" v-for="site in sites" :key="site.id">
				<router-link :to="`/site/${site.id}`">{{site.name}}</router-link>
				<div class="site__manager">{{site.productManager}}</div>
			</div>
		</div>
		<pagination :props="pagination" @paginationClick="changePageNumber(arguments[0])"/>
  </div>
</template>

<script>
import axios from 'axios';

import Pagination from './Pagination'

export default {
	name: 'sites',
  data() {
		return {
			siteName: '',
			sites: [],
			pagination: undefined
		}
	},
	created() {
		this.getData();
	},
	methods: {
		changePageNumber(pageNum) {
			this.getData(pageNum);
		},
		getData(pageNum) {			
			axios
				.get('/api/brunhilda/sites', {
					params: {
					token: this.$store.state.token,
					page: pageNum || 1
				}
			})
			.then(({data}) => {
				this.sites = data.sites
				this.pagination = data.paginate;
				})
			.catch(err => console.log(err));
		}
	},
	components: {
		Pagination
	}
}
</script>

<style>

</style>


