<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  beforeCreate() {
    this.$store.commit("setToken", document.querySelector('head meta[name="token"]').getAttribute('content'));
  }
}
</script>

<style>
  *,
  *:before,
  *:after {
      box-sizing: border-box;
      outline: none;
  }

  body {
    min-height: 100vh;
  }

  button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  p {
    margin: 0;
  }
</style>