<template>
  <div class="workbench-block-tools">
    <button
      class="workbench-block-tools__button"
      v-if="isExistPermissionToDeleteBlock"
      @click="deleteBlock">Удалить</button>
    <button
      v-if="isExistPermissionToEditBlock"
      v-show="prevBlockId"
      class="workbench-block-tools__button workbench-block-tools__button_up"
      @click="replaceBlocks(blockNum, blockId, blockNum - 1, prevBlockId)">вверх</button>
    <button
      v-if="isExistPermissionToEditBlock"
      v-show="nextBlockId"
      class="workbench-block-tools__button workbench-block-tools__button_down"
      @click="replaceBlocks(blockNum, blockId, blockNum + 1, nextBlockId)">вниз</button>
    <button
      class="workbench-block-tools__button"
      v-if="isExistPermissionToCreateBlock"
      @click="duplicateBlock">Дублировать</button>
    <button 
      class="workbench-block-tools__button"
      v-if="isExistPermissionToEditBlock"
      @click="showBlockContent">Контент</button>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'block-tools',
  props: [
    'blockId',
    'blockNum',
    'prevBlockId',
    'nextBlockId',
    "isExistPermissionToDeleteBlock",
    "isExistPermissionToEditBlock",
    'isExistPermissionToCreateBlock'
  ],
  methods: {
    deleteBlock() {
      axios
        .delete(`/api/brunhilda/sites/${this.$store.state.siteId}/pages/${this.$route.params.id}/blocks/${this.blockId}`, {
          params: {
            token: this.$store.state.token
          }
        })
        .then(() => this.$emit('deleteBlock', this.blockNum));
		},
    replaceBlocks(firstBlockNum, firstBlockId, secondBlockNum, secondBlockId) {
			axios
				.patch(`/api/brunhilda/sites/${this.$store.state.siteId}/pages/${this.$route.params.id}/blocks/move`, {
          token: this.$store.state.token,
					block_id_1: firstBlockId,
					block_id_2: secondBlockId
				})
				.then(() => this.$emit('replaceBlocks', { firstBlockNum, secondBlockNum }))
				.catch(err => console.log(err));
		},
    duplicateBlock() {
			axios
        .post('/api/brunhilda/dataContent', {
          token: this.$store.state.token,
          action: 'duplicate',
          block_id: this.blockId
        })
				.then(({data}) => this.$emit('duplicateBlock', {blockNum: this.blockNum, block: data}))
				.catch(err => console.log(err))
		},
    showBlockContent() {
      this.$emit('showBlockContent', { id: this.blockId, num: this.blockNum });
		},
		closeBlockContent() {
      this.$emit('closeBlockContent');
		}
  }
}
</script>

<style scoped>
  .workbench-block-tools__button {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
  }
</style>


