<template>
  <div class="content-modal-wrapper" :class="{'open': props.isModalOpen}" @click="exit($event)">
    <div class="content-modal">
      <div class="content">
        <template v-for="dataItem in data">
          <div v-if="dataItem.type === 'text'" :key="dataItem.value" class="content-text">
            <div class="text-title">{{dataItem.name}}</div>
            <div class="text-value" data-from-content-modal="yeap" :data-name="dataItem.name" :data-block-id="props.blockId" v-html="dataItem.value"></div>
          </div>
          <div  v-else :key="dataItem.type" class="content-img-wraper">
            <div v-for="img in dataItem.value" :key="img.id" class="content-img">
              <img class="content-img-preview" :src="img.full_name" alt="">
              <a class="content-img-link" :href="img.full_name">ссылка на картинку</a>
              <div>
                <button @click="changeImg(img.id)">Заменить фото</button>
                <button @click="deleteImg(img.id)">Удалить</button>
              </div>
            </div>
          </div>
        </template>
        <button @click="addImg">Добавить изображение</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'content-modal',
  props: ['props'],
  data() {
    return {
      data: []
    }
  },
  watch: {
    props: {
      handler(newValue) {
        if(newValue.isModalOpen || newValue.isNeedToReload) this.loadData();
      },
      deep: true
    }
  },
  methods: {
    loadData() {
      axios
        .get('/api/brunhilda/dataContent', {
          params: {
            token: this.$store.state.token,
            action: 'getBlockFields',
            block_id: this.props.blockId
          }
        })
        .then(({data}) => {
          this.data = data;
          this.$emit('dataLoaded');
        });
    },
    exit(e) {
      if(e.target === e.currentTarget) this.$emit('closeModal');
    },
    changeImg(imgId) {
      this.$emit('changeImg', {
        blockId: this.props.blockId,
        blockNum: this.props.blockNum,
        imgDataId: imgId
      });
    },
    deleteImg(imgId) {
      axios
        .post('/api/brunhilda/media', {
          token: this.$store.state.token,
          action: 'delete',
          block_id: this.props.blockId,
          data_id: imgId,
        })
        .then(({data}) => this.$emit('deleteImg',{
          block: data,
          blockNum: this.props.blockNum
        }));
    },
    addImg() {
      this.$emit('addImg', {
        blockId: this.props.blockId,
        blockNum: this.props.blockNum
      });
    }
  }
}
</script>

<style>
  .content-modal-wrapper,
  .content-modal {
    left: 0;
    top: 0;
    height: 100%;
  }

  .content-modal-wrapper {
    position: fixed;
    width: 100%;
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 999;
  }

  .content-modal-wrapper.open {
    transform: translateX(0);
  }

  .content-modal {
    position: absolute;
    width: 960px;
    background-color: #b1b1b1;
    overflow-y: hidden;
  }

  .content {
    padding: 50px;
  }

  .content-text,
  .content-img {
    padding: 20px 0;
    border-bottom: 1px solid #000;
  }

  .content-img {
    display: flex;
    align-items: center;
  }

  .content-img-preview {
    width: 80px;
    height: 60px;
  }

  .content-img-link {
    margin-left: 20px;
    margin-right: auto;
  }

  @media(max-width: 1000px) {
    .content-modal {
      width: 100%;
    }
  }
</style>


