<template>
	<div>
		<button @click="deleteAllBlocks">delete all blocks</button>
		<div class="medium-crutch"></div>
		<upload-img-modal
			:props="uploadImgInfo.componentProps"
			@closeModal="closeUploadImgModal"
			@changeImg="changeImgByUploadModal(arguments[0])"/>
		<content-modal
			:props="blockContentInfo.componentProps"
			@dataLoaded="contentModalDataLoaded"
			@closeModal="closeBlockContent"
			@changeImg="changeImgByContentModal(arguments[0])"
			@deleteImg="deleteImg(arguments[0])"
			@addImg="addImg"/>
		<tpls-nav
			:tpls="tpls"
			@tplSelect="tplSelect(arguments[0])"
			@closeNav="closeNav"
			:isTplsNavActive="isTplsNavActive"
			:indexForBlockInsertion="indexForServerBlockInsertion"/>
		<div class="workbench">
			<div class="workbench-block" :data-block-num="blockNum" v-for="(block, blockNum) in blocks" :key="block.id">
				<block-tools
					class="workbench-block__tools"
					:blockId="block.id"
					:blockNum="blockNum"
					:prevBlockId="blockNum - 1 >= 0 ? blocks[blockNum - 1].id : ''"
					:nextBlockId="blockNum + 1 < blocks.length ?  blocks[blockNum + 1].id: ''"
					:isExistPermissionToDeleteBlock="isExistPermissionToDeleteBlock"
					:isExistPermissionToEditBlock="isExistPermissionToEditBlock"
					:isExistPermissionToCreateBlock="isExistPermissionToCreateBlock"
					@deleteBlock="deleteBlock(arguments[0])"
					@replaceBlocks="replaceBlocks(arguments[0])"
					@duplicateBlock="duplicateBlock(arguments[0])"
					@showBlockContent="showBlockContent(arguments[0])"
					@closeBlockContent="closeBlockContent"/>
				<div v-html="'<style>' + block.css + '</style>'"></div>
				<div class="workbench-block__html" v-html="block.html"></div>
				<button
					class="workbench-block__insert"
					@click="choosePlaceForBlockInsertion(blockNum + 1, block.sort + 1)"
					v-if="isExistPermissionToCreateBlock"></button>
			</div>
			<button class="workbench__add-block" @click="openTplsNav" v-if="isExistPermissionToCreateBlock">Добавить блок</button>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import MediumEditor from 'medium-editor';
import 'medium-editor/dist/css/medium-editor.min.css';
import 'medium-editor/dist/css/themes/bootstrap.css';

import TplsNav from './TplsNav';
import UploadImgModal from './UploadImgModal';
import ContentModal from './ContentModal';
import BlockTools from './BlockTools';

export default {
  name: 'workbench',
  data() {
      return {
				indexForClientBlockInsertion: undefined,
				indexForServerBlockInsertion: undefined,
				blocksClone: [],
				isTplsNavActive: false,
				newAddedBlock: null,
				blocks: [],
				jsLibs: [],
				cssLibs: [],
				tpls: [],
				textEditor: null,
				isNeedToReplaceBlock: false,
				uploadImgInfo: {
					componentProps: {
						isModalOpen: false,
						blockId: undefined,
						imgDataId: undefined,
						requestActionParam: undefined
					},
					blockNum: undefined,
				},
				blockContentInfo: {
					componentProps: {
						isModalOpen: false,
						blockId: undefined,
						blockNum: undefined,
						isNeedToReload: false
					}
				}
      }
	},
	created() {
		if(!this.$store.state.siteId) this.$router.push('/sites');

		axios
		.get(`/api/brunhilda/sites/${this.$store.state.siteId}/pages/${this.$route.params.id}`, {
			params: {
				token: this.$store.state.token
			}
		})
		.then(({data}) => {
			this.tpls = data.tpls;
			this.blocks = data.blocks;

			this.$store.commit('setPermissions', data.permissions);
		})
		.catch(err => this.$router.push('/sites'));
	},
	mounted() {
		this.initTextEditor();
	},
  watch: {
		blocks: function(newBlocks) {
			this.$nextTick(async function () {
				if(!this.blocksClone.length) {
					if(this.isExistPermissionToEditBlock && this.textEditor) this.textEditor.addElements(document.querySelectorAll('[data-field-type="text"]'));

					for(let newBlock of newBlocks) {
						if(newBlock.cssLibs.length) {
							let cssLibs = this.filterBlockLibsNeedingToLoad(this.cssLibs, Object.values(newBlock.cssLibs));
							cssLibs.forEach(cssLib => this.loadCSSLib(cssLib));
						}
						if(newBlock.jsLibs.length) {
							let jsLibs = this.filterBlockLibsNeedingToLoad(this.jsLibs, Object.values(newBlock.jsLibs));
							await this.loadJsSequence(jsLibs, newBlock.js);
						}
					}

					if(this.isExistPermissionToEditBlock) this.initImgPopupAttachment('[data-field-type="image"]');
				} else {
					if(newBlocks.length > this.blocksClone.length || this.isNeedToReplaceBlock) {

						this.isNeedToReplaceBlock = false;

						if(this.isExistPermissionToEditBlock && this.textEditor) {
							this.textEditor.addElements(document.querySelectorAll(`[data-block-id="${this.newAddedBlock.id}"] [data-field-type="text"]`));
						}

						if(this.newAddedBlock.cssLibs.length) {
							let cssLibs = this.filterBlockLibsNeedingToLoad(this.cssLibs, Object.values(this.newAddedBlock.cssLibs));
							cssLibs.forEach(cssLib => this.loadCSSLib(cssLib));
						}
						if(this.newAddedBlock.jsLibs.length) {
							let jsLibs = this.filterBlockLibsNeedingToLoad(this.jsLibs, Object.values(this.newAddedBlock.jsLibs));
							await this.loadJsSequence(jsLibs, this.newAddedBlock.js);
						} else eval(this.newAddedBlock.js);

						if(this.isExistPermissionToEditBlock) this.initImgPopupAttachment(`[data-block-id="${this.newAddedBlock.id}"] [data-field-type="image"]`);
					}
				}
				this.blocksClone = newBlocks.slice();
			});
		}
	},
	computed: {
		isExistPermissionToCreateBlock() {
			return this.$store.state.permissions.all || this.$store.state.permissions["create-block"];
		},
		isExistPermissionToDeleteBlock() {
			return this.$store.state.permissions.all || this.$store.state.permissions["remove-block"];
		},
		isExistPermissionToEditBlock() {
			return this.$store.state.permissions.all || this.$store.state.permissions["edit-block"];
		}
	},
  methods: {
		tplSelect(block) {
			this.insertBlock(block);
			this.closeNav();
		},
		insertBlock(block) {
			this.newAddedBlock = block;
			this.indexForClientBlockInsertion !== undefined
					? this.blocks.splice(this.indexForClientBlockInsertion, 0, this.newAddedBlock)
					: this.blocks.push(this.newAddedBlock);
			this.resetIndexBlockInsertion();
    },
    choosePlaceForBlockInsertion(clientIndex, serverIndex) {
			this.indexForClientBlockInsertion = clientIndex;
			this.indexForServerBlockInsertion = serverIndex;
			this.openTplsNav();
    },
    openTplsNav() {
      this.isTplsNavActive = true;
    },
    closeNav() {
      this.isTplsNavActive = false;
			this.resetIndexBlockInsertion();
    },
		async loadJsSequence(jsLibs, jsCode) {
			if(jsLibs.length) {
				for(let jsLib of jsLibs) await this.loadJS(jsLib);
			}

			eval(jsCode);
		},
		resetIndexBlockInsertion() {
			this.indexForClientBlockInsertion = undefined;
			this.indexForServerBlockInsertion = undefined;
		},
		loadJS(jsLibSrc) {
			return new Promise((resolve, reject) => {
				let jsLib = document.createElement("script");
				jsLib.addEventListener('load', () => {
						resolve();
				});
				jsLib.type = "application/javascript";
				jsLib.src = jsLibSrc;
				document.body.appendChild(jsLib);
				this.jsLibs.push(jsLibSrc);
			});
		},
		loadCSSLib(cssLibHref) {
			let cssLib = document.createElement("link");
			cssLib.type = 'text/css';
			cssLib.href = cssLibHref;
			cssLib.rel = 'stylesheet';
			document.body.appendChild(cssLib);
			this.cssLibs.push(cssLibHref);
		},
		filterBlockLibsNeedingToLoad(actualLibs, libsNeedToLoad) {
			return libsNeedToLoad.filter(libNeedToLoad => {
				if(actualLibs.findIndex(actualLib => actualLib === libNeedToLoad) === -1) return libNeedToLoad;
			});
		},
		deleteBlock(blockNum) {
			this.blocks.splice(blockNum, 1);
		},
		replaceBlock(block, blockNum) {
			this.isNeedToReplaceBlock = true;
			this.newAddedBlock = block;
			this.blocks.splice(blockNum, 1, this.newAddedBlock);
		},
		deleteAllBlocks() {
			this.blocks = [];
			axios.get(`/api/brunhilda/pages/${this.$route.params.id}/delete`, {
				params: {
					token: this.$store.state.token
				}
			});
		},
		replaceBlocks(blocksNumObj) {
			let tmp = this.blocks[blocksNumObj.firstBlockNum];
			this.blocks.splice(blocksNumObj.firstBlockNum, 1, this.blocks[blocksNumObj.secondBlockNum]);
			this.blocks.splice(blocksNumObj.secondBlockNum, 1, tmp);
		},
		duplicateBlock(paramsObj) {
			this.indexForClientBlockInsertion = paramsObj.blockNum;
			this.insertBlock(paramsObj.block);
		},
		initTextEditor() {
			this.textEditor = new MediumEditor(document.querySelector('.medium-crutch'), {
				disableExtraSpaces: true,
				disableDoubleReturn: true,
				toolbar: {
						buttons: [
								'bold',
								'italic',
								'underline',
								'anchor',
								'strikethrough',
								'subscript',
								'superscript',
								'removeFormat'
						]
				},
					placeholder: {
						text: 'Здесь надо что-то написать :)',
						hideOnClick: true
				},
				anchor: {
						linkValidation: true,
						placeholderText: 'Укажите ссылку',
						targetCheckbox: true,
						targetCheckboxText: 'Открывать ссылку в новом окне'
				},
				imageDragging: false
			});

			this.textEditor.subscribe('blur',(e, editable) => {
				let block_id, name, value, isNeedToIncludeBlockInResponse = false;

				if(editable.dataset.fromContentModal) {
					block_id = editable.dataset.blockId;
					name = editable.dataset.name;
					isNeedToIncludeBlockInResponse = true;
				} else {
					block_id = editable.closest('.workbench-block__html').querySelector('[data-block-id]').dataset.blockId;
					name = editable.dataset.fieldName;
				}
				value = editable.querySelector('p') ? editable.querySelector('p').innerHTML : editable.innerHTML;

				axios
					.post('/api/brunhilda/dataContent', {
						token: this.$store.state.token,
						action: 'change',
						isNeedToIncludeBlockInResponse,
						block_id,
						name,
						value
					})
					.then(({data}) => {
						if(isNeedToIncludeBlockInResponse) {
							this.replaceBlock(data, this.blockContentInfo.componentProps.blockNum);
						}
					})
			});
		},
		closeUploadImgModal() {
			this.uploadImgInfo.componentProps.isModalOpen = false;
			this.uploadImgInfo.componentProps.blockId = undefined;
			this.uploadImgInfo.blockNum = undefined;
			this.blockContentInfo.componentProps.isNeedToReload = false;
			this.uploadImgInfo.componentProps.requestActionParam = undefined;
			setTimeout(() => {
				// watch function in ContentModal.vue do not see changes
				this.blockContentInfo.componentProps.isNeedToReload = false;
			}, 0);
		},
		changeImgByUploadModal(ajaxData) {
			this.replaceBlock(ajaxData, this.uploadImgInfo.blockNum);

			if(this.blockContentInfo.componentProps.isModalOpen) this.blockContentInfo.componentProps.isNeedToReload = true;

			this.closeUploadImgModal();
		},
		initImgPopupAttachment(selector) {
			[].forEach.call(document.querySelectorAll(selector), img => {
				img.addEventListener('click', (e) => {
					this.setUploadImgModalInfo(e.target.closest('[data-block-id]').dataset.blockId, img.closest('[data-block-num]').dataset.blockNum, img.dataset.dataId, 'change');
				})
			});
		},
		showBlockContent(blockObj) {
			this.blockContentInfo.componentProps.blockId = blockObj.id;
			this.blockContentInfo.componentProps.blockNum = blockObj.num;
			this.blockContentInfo.componentProps.isModalOpen = true;
		},
		closeBlockContent() {
			this.blockContentInfo.componentProps.blockId = undefined;
			this.blockContentInfo.componentProps.blockNum = undefined;
			this.blockContentInfo.componentProps.isModalOpen = false;
		},
		changeImgByContentModal(data) {
			this.setUploadImgModalInfo(data.blockId, data.blockNum, data.imgDataId, 'change');
		},
		deleteImg(data) {
			this.replaceBlock(data.block, data.blockNum);

			this.blockContentInfo.componentProps.isNeedToReload = true;

			setTimeout(() => {
				// watch function in ContentModal.vue do not see changes
				this.blockContentInfo.componentProps.isNeedToReload = false;
			}, 0);
		},
		addImg(data) {
			this.setUploadImgModalInfo(data.blockId, data.blockNum, 0, 'upload');
		},
		contentModalDataLoaded() {
			this.$nextTick(() => {
				if(this.isExistPermissionToEditBlock) {
					this.textEditor.addElements(document.querySelectorAll('.content-modal .text-value'));
				}
			});
		},
		setUploadImgModalInfo(blockId, blockNum, dataId, requestActionParam) {
			this.uploadImgInfo.componentProps.isModalOpen = true;
			this.uploadImgInfo.componentProps.blockId = blockId;
			this.uploadImgInfo.componentProps.imgDataId = dataId;
			this.uploadImgInfo.componentProps.requestActionParam = requestActionParam;
			this.uploadImgInfo.blockNum = blockNum;
		}
	},
	components: {
		TplsNav,
		UploadImgModal,
		ContentModal,
		BlockTools
  }
}
</script>

<style scoped>
    .workbench-block {
        padding: 105px 0 75px;
        position: relative;
    }

    .workbench-block:hover {
        border-bottom: 1px dashed #000;
    }

    .workbench-block:hover .workbench-block__insert {
        visibility: visible;
        opacity: 1;
    }

		.workbench-block:hover:last-of-type .workbench-block__insert {
			visibility: hidden;
			opacity: 0;
		}

    .workbench-block:hover .workbench-block__tools{
        visibility: visible;
        opacity: 1;
    }

    .workbench-block__tools,
    .workbench-block__insert{
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        position: absolute;
    }

    .workbench-block__insert{
        height: 30px;
        width: 30px;
        bottom: -15px;
        left: calc(50% - 15px);
        background-color: #000;
        position: absolute;
        border-radius: 50%;
    }

    .workbench-block__insert:before,
    .workbench-block__insert:after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: #d6d6d6;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .workbench-block__insert:before {
        transform: translate(-50%, -50%);
    }

    .workbench-block__insert:after {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .workbench-block__tools {
        top: 0;
    }

    .workbench__add-block {
			display: block;
			margin: 0 auto;
			padding: 10px 20px;
			border-radius: 20px;
			background-color: black;
			color: #fff;
			margin-top: 20px;
  	}

		.medium-crutch {
			display: none;
		}
</style>

<style>
	[data-field-type="text"][data-medium-focused="true"] {
		background-color: #e4e4e4;
	}
</style>


