<template>
  <div class="tpls-nav" :class="{'tpls-nav_active': isTplsNavActive}">
    <div class="tpls-nav__types">
        <header class="tpls-nav__types-header">
            <div class="tpls-nav__types-title">Библиотека блоков</div>
            <button class="tpls-nav__types-close" @click="closeNav"></button>
        </header>
        <div class="tpls-nav__type" v-for="tpl in tpls" :key="tpl.id" @click="openTpls(tpl.id)">
            <button class="tpls-nav__type-button">{{tpl.name}}</button>
            <div class="tpls-nav__tpls" :class="{'tpls-nav__tpls_active': isTplsNavActive && tpl.active}">
                <div class="tpls-nav__tpl" v-for="tpl in tpl.tpls" :key="tpl.id" @click="insertBlock(tpl)">
                    <img :src="tpl.img" alt="">
                    <div class="tpls-nav__tpl-name">{{tpl.name}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
	name: 'tpls-nav',
	props: ['isTplsNavActive', 'tpls', 'indexForBlockInsertion'],
	methods: {
		openTpls(tplId) {
			this.tpls.forEach(tpl => tpl.active = tpl.id === tplId);
		},
		closeNav() {
			this.$emit('closeNav');
			this.tpls.forEach(tpl => tpl.active = false);
		},
		insertBlock(tpl) {
			axios
				.get(`/api/brunhilda/sites/${this.$store.state.siteId}/pages/${this.$route.params.id}/blocks/create?tpl_id=${tpl.id}&sort=${this.indexForBlockInsertion ? this.indexForBlockInsertion: '' }`, {
                    params: {
                        token: this.$store.state.token
                    }
                })
				.then(({data}) => this.$emit("tplSelect", data))
				.catch(error => console.log(error));
		}
	}
}
</script>

<style scoped>
    .tpls-nav {
        visibility: hidden;
				position: relative;
				z-index: 9999;
    }

    .tpls-nav_active {
        visibility: visible;
    }

    .tpls-nav__types,
    .tpls-nav__tpls {
        position: fixed;
        top: 0;
        bottom: 0;
        border-right: 1px solid #eee;
    }
    
    .tpls-nav__types {
        left: 0;
        background-color: #f7f7f7;
        width: 240px;
        z-index: 1;
    }

    .tpls-nav__tpls {
        width: 360px;
        background-color: #fff;
        left: 240px;
        visibility: hidden;
    }

    .tpls-nav__tpls_active {
        visibility: visible;
    }

    .tpls-nav__types-header {
        height: 60px;
        display: flex;
        border-bottom: 1px solid #d6d6d6;
    }

    .tpls-nav__types-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        border-right: 1px solid #d6d6d6;
    }

    .tpls-nav__types-close {
        width: 60px;
        background-color: transparent;
        border: none;
        padding: 0;
        position: relative;
    }

    .tpls-nav__types-close:before,
    .tpls-nav__types-close:after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: #d6d6d6;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .tpls-nav__types-close:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .tpls-nav__types-close:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .tpls-nav__type-button {
        padding-left: 20px;
        height: 45px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #d6d6d6;
        width: 100%;
        text-align: left;
    }

    .tpls-nav__tpls {
        padding: 0 10px;
    }

    .tpls-nav__tpl {
        border-bottom: 1px solid #d6d6d6;
        padding: 10px 0;
        cursor: pointer;
    }

    .tpls-nav__tpl-name {
        text-align: center;
    }
</style>


