<template>
  <div class="modal" :class="{'open' : props.isModalOpen, 'pending': isPending}" @click="close($event)">
    <button class="modal-close" @click="close($event)"></button>
    <div class="modal-content">
      <div class="preloader">
        <div class="spinner"></div>
      </div>
      <div class="window" :class="{'active': isLocalImgWindowActive}">
        <div class="title">Локальное изображение</div>
        <form class="local-form">
          <div class="local-pseudo-button">
            Загрузить файл
            <input type="file" accept="image/*" @change="loadLocalImg($event)" class="local-input">
          </div>
        </form>
        <button @click="changeWindow">Загрузка по ссылке</button>
      </div>
      <div class="window" :class="{'active': !isLocalImgWindowActive}">
        <div class="title">Изображение по ссылке</div>
        <form class="link-form" @submit.prevent="submitLinkForm">
          <input type="text" name="url" class="link-input" placeholder="Вставьте сюда ссылку" v-model="linkInputLink">
          <button type="submit" class="link-submit">Загрузить</button>
        </form>
        <button @click="changeWindow">Вернуться к загрузке файлов с компьютера</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'UploadImgModal',
  props: ['props'],
  data() {
    return {
      isLocalImgWindowActive: true,
      linkInputLink: '',
      isPending: false
    }
  },
  methods: {
    changeWindow() {
      this.isLocalImgWindowActive = !this.isLocalImgWindowActive;
    },
    close(e) {
      if(!this.isPending && (e.target.classList.contains('modal') || e.target.classList.contains('modal-close')))
        this.$emit('closeModal');
    },
    loadLocalImg({target}) {
      this.isPending = true;

      let formData = new FormData();
      formData.append('image', target.files[0]);
      formData.append('action', this.props.requestActionParam);
      formData.append('block_id', this.props.blockId);
      formData.append('data_id', this.props.imgDataId ? this.props.imgDataId : 0);
      formData.append('token', this.$store.state.token);

      axios({
        method: 'post',
        url: '/api/brunhilda/media',
        data: formData,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      })
      .then(({data}) => {
        if(data) this.$emit('changeImg', data);

        target.value = null;
        this.isPending = false;
      })
      .catch(err => {
        target.value = null;
        this.isPending = false;
      });

    },
    submitLinkForm() {
      if(this.linkInputLink) {
        this.isPending = true;

        axios
          .post('/api/brunhilda/media', {
            token: this.$store.state.token,
            action: this.props.requestActionParam,
            block_id: this.props.blockId,
            url: this.linkInputLink,
            data_id: this.props.imgDataId ? this.props.imgDataId : 0
          })
          .then(({data}) => {
            if(data) this.$emit('changeImg', data);

            this.linkInputLink = '';
            this.isPending = false;
          })
          .catch(err => {
            this.isPending = false;
          });
      }
    }
  }
}
</script>

<style>
  .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  .modal.open {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  .modal.pending .modal-close {
    display: none;
  }

  .modal.pending .preloader {
    visibility: visible;
    opacity: 1;
  }

  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }

  .modal-close:before,
  .modal-close:after {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .modal-close:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .modal-close:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .modal-content {
    width: 750px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .preloader,
  .window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
  }

  .preloader {
    overflow: hidden;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
  }

  @keyframes rotation {
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    border-radius: 100%;
    animation: rotation 0.6s linear infinite;
    margin: auto;
  }

  .window {
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }

  .window.active {
    visibility: visible;
    opacity: 1;
  }

  .title {
    font-size: 30px;
    text-align: center;
  }

  .local-form {
    display: flex;
    justify-content: center;
  }

  .local-pseudo-button {
    height: 60px;
    width: 200px;
    background-color: #FC8665;
    overflow: hidden;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .local-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .link-form {
    display: flex;
    justify-content: center;
  }

  .link-input,
  .link-button {
    height: 60px;
  }

  .link-input {
    flex-basis: 60%;
    padding: 0 20px;
  }

  .link-submit {
    flex-basis: 100px;
    background-color: #FC8665;
    color: #fff;
  }
</style>


